.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.home {
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.uploader-container {
  display: flex;
  flex-direction: column; /* Aligner les éléments verticalement */
  width: 100%;
}

.uploader-container > .vitrail-caroussel {
  width: 50vw; /* Prendre 100% de l'espace du conteneur */
  margin-bottom: 20px; /* Ajouter un espace entre les éléments */
}

.vitrail-caroussel {
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #a497f7;
  margin: 0;
  padding: 0 10rem;
  color: white;
}

.vitrail-caroussel img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #45a29e;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
